<%= form_with(model: citizen) do |form| %>
  <% if citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.body')%></h2>

      <ul>
        <% citizen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-label-group col-md-6">
      <%= form.text_field :full_name, autofocus: true, class: "form-control", placeholder: "  " %>
      <%= form.label :full_name %>
    </div>

    <div class="form-label-group col-md-6" >
      <%= form.text_field :cpf, autofocus: true, class: "form-control", placeholder: "   ",  'data-mask': '000.000.000-00' %>
      <%= form.label :cpf %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-label-group col-md-6">
      <%= form.text_field :email , autofocus: true, class: "form-control", placeholder: "   "%>
      <%= form.label :email %>
    </div>

    <div class="form-label-group col-md-6" >
      <%= form.date_field :birth_date, autofocus: true, class: "form-control", placeholder: "   "%>
      <%= form.label :birth_date %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-label-group col-md-6">
      <%= form.text_field :telephone, autofocus: true, class: "form-control", placeholder: "   ",  'data-mask': '+55(00)00000-0000' %>
      <%= form.label :telephone %>
    </div>

    <div class="form-label col-md-6" >
      <%= label_tag nil, @citizen.class.human_attribute_name(:status) %> <br/>
      <%= form.select :status, [["Ativo", "ativo"], ["Inativo", "desativado"]], placeholder: "  "  %>
    </div>
  </div>

  <h4>Endereço</h4>
  <%= form.fields_for :address do |address_form| %>
    <div class="form-row">
      <div class="form-label-group col-md-6" >
        <%= address_form.text_field :zip_code, class: "form-control cep", placeholder: "  "%>
        <%= address_form.label :zip_code %>
      </div>

      <div class="form-label-group col-md-6" >
        <%= address_form.text_field :street, autofocus: true, class: "form-control", placeholder: "  " %>
        <%= address_form.label :street %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-label-group col-md-6" >
        <%= address_form.text_field :complement, autofocus: true, class: "form-control", placeholder: "   " %>
        <%= address_form.label :complement %>
      </div>

      <div class="form-label-group col-md-6" >
        <%= address_form.text_field :district, autofocus: true, class: "form-control", placeholder: "   " %>
        <%= address_form.label :district %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-label-group col-md-6" >
        <%= address_form.text_field :city, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "   " %>
        <%= address_form.label :city %>
      </div>

      <div class="form-label-group col-md-6" >
        <%= address_form.text_field :UF, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "   " %>
        <%= address_form.label :UF %>
      </div>

      <div class="form-label-group col-md-6" >
        <%= address_form.text_field :ibge, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "   "%>
        <%= address_form.label :ibge %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= render 'citizens/buttons/save' %>
    <%= render 'citizens/buttons/back' %>
  </div>
<% end %>
